/*
  FEC

*/

dl {
    border-style:solid;
    border-width:2px;
    position:relative;
}

.F6N {
    background-color : yellow;
}

.F65 {
    background-color : orange;
}

dt.fld__record_type { position:absolute; left:350px;  }
dd.fld__record_type { position:absolute; left:450px; }

dt.fld__src_file    { position:absolute; left:720px; }
dd.fld__src_file    { position:absolute; left:750px; }

dt.fld_form_type    { position:absolute; left:1000px; }
dd.fld_form_type    { position:absolute; left:1100px; }
